@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --white: white;
    --black: #000000;
    --grey: #E6E6E6;
    --violet : #6445FF;
    --light-violet: #EBEEFF;
    --red: #FF4545;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    overflow-x: hidden;
    background: var(--white);
    min-height: 100vh;
}

/* width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--white);
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 6px;
} */

a {
  color: var(--black);
  text-decoration: none;
}

.button-global {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--violet);
  color: var(--white);
  user-select: none;
  box-shadow: 0 2px 20px rgba(100, 69, 255, 0.3);
} 

/* .button-global:hover {
  box-shadow: 2px 2px 20px var(--blue);
} */

.section-global {
  max-width: 1280px;
  padding: 10px 1%;
}

.input-wrapper-global {
  border: 1px solid var(--grey);
  border-radius: 10px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.input-text-global {
  height: 40px;
  flex: 1;
  border: none;
  outline: none;
}

.container-border-global {
  border: 1px solid var(--light-violet);
  border-radius: 10px;
}

.UserList-global__list {
  margin: 25px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.UserList-global__image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--grey);
}
.UserList-global__username {
  text-overflow: ellipsis;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
}
.UserList-global__addition {
  margin-left: auto;
  font-weight: 600;
}

.left-section-global {
  flex: 1;
  min-width: 100px;
  /* background-color: blue; */
}

.middle-section-global {
  width: 550px;
  max-width: 100%;
  /* background-color: red; */
}

.right-section-global {
  flex: 1;
  /* background-color: orange; */
  min-width: 100px;
}
  
