.AddPostWrapper {
    margin: 0 0 30px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.AddPost__top {
    margin: 0 0 20px 0; 
    display: flex;
    align-items: center;
    gap: 10px;
}
.AddPost__input-text {
    border-bottom: 2px solid var(--grey) !important;
    font-size: 1rem;

}
.AddPost__img {
    border: 1px solid var(--grey);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.AddPost__middle {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.AddPost__middle__img {
    max-height: 400px;
    max-width: 100%;
    object-fit: cover;
}
.AddPost__middle_trash-icon {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 1.5rem;
    color: var(--red);
    padding: 10px;
    background-color: var(--light-violet);
    border-radius: 10px;
    cursor: pointer;
}

.AddPost__bottom {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.AddPost__bottom_media-container {
    color: var(--violet);
    display: flex;
    align-items: center;
    gap: 10px;
}
.AddPost__bottom_media-container i {
    font-size: 1.5rem;
}
.AddPost__button-share {
    width: 100px;
}