.NavbarWrapper {
    width: 100%;
    background-color: var(--light-violet);
}

.NavbarContainer {
    padding: 5px 1% !important;
    margin: auto;
    /* background-color: var(--light-violet); */
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    gap: 20px;
}
.Navbar__logo {
    display: flex;
    gap: 10px;
    align-items: center;
}
.Navbar__search-container {
    border-radius: 50px !important;
    border: none !important;
    background-color: white;
}

.Navbar__ProfileContainer__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.Navbar__links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar__links-container__Navigations {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}
.Navbar__links-container__ProfileContainer a {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}


@media (max-width: 1023px) {
    .Home__left-side {
        display: none;
    }

    .Navbar__search-container {
        display: none !important;
    }

    .Navbar__links-container {
        max-width: 180px;
    }
}
