.AuthContainer {
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AuthWrapper {
    padding: 50px 30px;
    max-width: 100%;
    width: 400px;
}

.AuthWrapper__title {
    font-size: 3rem;
}
.AuthWrapper__description {
    font-size: 1.25rem;
    margin: 0 0 60px 0;
}
.AuthWrapper__title, .AuthWrapper__description {
    text-align: center;
}   

.Auth__input-group {
    margin: 20px 0;
}
.Auth__input-group__Name {
    font-size: 1rem;
    font-weight: 800;
    margin: 0 0 10px 0; 
}
.Auth__input-group__wrapper i {
    font-size: 1.5rem;
}
.Auth__input-text {
    font-size: 1.2rem;
    flex: 1;
}

.Auth__submit-button {
    margin: 20px 0 0 0;
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
}

.Auth__optional-link {
    margin: 10px 0 0 0;
    text-align: center;
}

.Auth__optional-link a {
    color: var(--violet);
}

@media (max-width: 768px) {
    .AuthWrapper {
        border: none !important;
    }
}