.HomeContainer {
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.Home__UserList__unfollow {
    color: var(--red);
}
.Home__UserList__suggestion {
    color: var(--violet);
}

.Home__middle-side__post-containers {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.Home__right-side__UserShortcut {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 30px 0;
}
.Home__right-side__UserShortcut a {
    display: flex;
    align-items: center;
    gap: 10px;
}
.UserShortcut__img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border: 1px solid var(--grey);
    border-radius: 50%;
}
.UserShortcut__icon {
    margin-left: auto;
    font-size: 1.5rem;
    color: var(--red);
    cursor: pointer;
}

.Home__middle-side__information {
    margin: 20px auto;
    font-size: 1.5rem;

}

@media (max-width: 769px) {
    .Home__right-side {
        display: none;
    }

    .Home__middle-side {
        width: 100% !important;
    }
}

@media (max-width: 1023px) {
    .Home__left-side {
        display: none;
    }
}