.ProfileContainer {
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;  
}
.Profile__left-side {
    height: 345px;
    flex: 2.7;
}
.Profile__right-side {
    flex: 1;
    min-width: 180px;
}

.Profile__banner-container {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px;
}
.Profile__banner-container__Content {
    background-color: rgba(0, 0,0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;  
    gap: 20px;
    padding: 20px;
    color: var(--white);
}
.Profile__Content__img {
    height: 180px;
    width: 180px;
    border: 1px solid var(--grey);
    border-radius: 50%;
    object-fit: cover;
}
.Profile__bio__Button {
    margin-left: auto;
    font-size: 1.25rem;
    width: 150px;
    height: 60px;

}
.Profile__bio__Username {
    font-size: 3rem;
}
.Profile__bio__Fullname {
    font-weight: 500;
}
.Profile__bio__Description {
    margin: 15px 0;
    font-size: 1.25rem;
}
.Profile__bio__Connections {
    display: flex;
    gap: 20px;
    font-size: 1.25rem;
}
.Profile__bio__Connections span {
    color: var(--violet);
}

.Profile__bottom-container {
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.Profile__bottom-container__Intro {
    flex: 1;
    background-color: var(--white);
    padding: 30px;
}
.Profile__Intro__categories-container {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Profile__intro__category {
    display: flex;
    gap: 15px;
    font-size: 1.25rem;
    font-weight: 500;
}
.Profile__intro__category p, a{
    font-size: 1rem;    
}
.Profile__intro__category i{
    width: 30px;
    text-align: center;
}
.Profile__intro__category a {
    text-decoration: underline;
    color: var(--violet);
}
.Profile__bottom-container__PostContainer {
    flex: 2;
}

@media (max-width: 768px) { 
    .Profile__banner-container {
        height: 550px;
    }
    .Profile__bottom-container  {
       flex-direction: column;
    }
    .Profile__bottom-container__Intro {
        width: 100%;
    }
    .Profile__banner-container__Content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .Profile__bio__Button {
        margin: 20px 0 0 0;
    }
}

@media (max-width: 1023px) {
    .Profile__right-side {
        display: none;
    }
}